
@{
	ViewData["Title"] = "Checkout";
	double ukupno = 250 + Model.OrderHeader.OrderTotal;
	scVM order = Model;
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="/styles/bootstrap4/bootstrap.min.css">
    <link href="/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/styles/checkout.css">
    <link rel="stylesheet" type="text/css" href="/styles/checkout_responsive.css">
}
@section Scripts{
    <script src="/js/checkout_custom.js"></script>
}
@model scVM
<!-- Home -->

<div class="home">
	<div class="home_background parallax-window" data-parallax="scroll" data-image-src="/images/checkout.jpg" data-speed="0.8"></div>
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="home_container">
					<div class="home_content">
						<div class="home_title">Kupovina</div>
						<div class="breadcrumbs">
							<ul>
								<li><a asp-controller="Home" asp-action="Index">Početna</a></li>
								<li>Korpa</li>
								<li>Kupovina</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Checkout -->

<div class="checkout">
	<div class="container">
		<div class="row">

			<!-- Billing Details -->
			<div class="col-lg-6">
				<div class="billing">
					<div class="checkout_title">Informacije o porudžbini</div>
					<div class="checkout_form_container">
						<form action="post" id="checkout_form">
							<div class="d-flex flex-lg-row flex-column align-items-start justify-content-between">
								<input type="text" class="checkout_input checkout_input_50" asp-for="OrderHeader.FirstName" placeholder="Ime" required="required">
								<span asp-validation-for="OrderHeader.FirstName" class="text-danger"></span>
								<input type="text" class="checkout_input checkout_input_50" asp-for="OrderHeader.LastName" placeholder="Prezime" required="required">
								<span asp-validation-for="OrderHeader.LastName" class="text-danger"></span>
							</div>
							<input type="text" class="checkout_input" asp-for="OrderHeader.Address" placeholder="Adresa">
							<span asp-validation-for="OrderHeader.Address" class="text-danger"></span>
							<input type="text" class="checkout_input" asp-for="OrderHeader.Town" placeholder="Grad" required="required">
							<span asp-validation-for="OrderHeader.Town" class="text-danger"></span>
							<div class="d-flex flex-lg-row flex-column align-items-start justify-content-between">
								<input type="text" class="checkout_input checkout_input_50" asp-for="OrderHeader.ZipCode" placeholder="Poštanski broj" required="required">
								<span asp-validation-for="OrderHeader.ZipCode" class="text-danger"></span>
								<input type="text" class="checkout_input checkout_input_50" asp-for="OrderHeader.PhoneNumber" placeholder="Broj telefona" required="required">
								<span asp-validation-for="OrderHeader.PhoneNumber" class="text-danger"></span>
							</div>
							<textarea name="checkout_comment" id="checkout_comment" class="checkout_comment" placeholder="Komentar"></textarea>
						</form>
					</div>
				</div>
			</div>

			<!-- Cart Details -->
			<div class="col-lg-6">
				<div class="cart_details">
					<div class="checkout_title text-center">TOTAL</div>
					<div class="cart_total">
						<ul>
							<li class="d-flex flex-row align-items-center justify-content-start">
								<div class="cart_total_title"><b>Proizvodi</b></div>
								<div class="cart_total_price ml-auto"><b>Ukupno</b></div>
							</li>
							
							<li style=" display: flex;flex-direction:column">
                                @foreach (var item in Model.ListCart)
								{
									double res = item.Prod.Price * item.Count;
								<div class="cart_total_title" >@item.Prod.Name x @item.Count
								<div class="cart_total_price" style="float:right">@res din.</div>
								</div>
									
								
								}
	
							</li>
							
							
							<li class="d-flex flex-row align-items-center justify-content-start">
								<div class="cart_total_title">Dostava</div>
								<div class="cart_total_price ml-auto">250 din.</div>
							</li>
							<li class="d-flex flex-row align-items-start justify-content-start total_row">
								<div class="cart_total_title"><b>TOTAL</b></div>
								<div class="cart_total_price ml-auto">@ukupno din.</div>
							</li>
						</ul>
					</div>
					<div class="payment_options">
						@using(Html.BeginForm("OrderPOST","ShoppingCart",new{order=order},FormMethod.Post))
						{
						<button type="submit" class="cart_total_button" style="background-color:seagreen;">Kupite</button>
                        }
                    </div>
				</div>
			</div>
		</div>
	</div>
</div>

