@section Styles{
	<link rel="stylesheet" type="text/css" href="~/styles/bootstrap4/bootstrap.min.css">
	<link href="~/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="~/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
	<link rel="stylesheet" type="text/css" href="~/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
	<link rel="stylesheet" type="text/css" href="~/plugins/OwlCarousel2-2.2.1/animate.css">
	<link href="~/plugins/colorbox/colorbox.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="~/styles/main_styles.css">
	<link rel="stylesheet" type="text/css" href="~/styles/responsive.css">
}
@{
	ViewData["Title"] = "Pocetna";
	Newsletter ns = new Newsletter();
}

<div class="home">

	<!-- Home Slider -->

	<div class="home_slider_container">
		<div class="owl-carousel owl-theme home_slider">

			<!-- Home Slider Item -->
			<div class="owl-item">
				<div class="home_slider_background" style="background-image:url(/images/image1.jpg)"></div>
				<div class="home_slider_content">
					<div class="home_slider_content_inner">
						<div class="home_slider_subtitle">Proširite svoju ljubav ka knjigama već danas!</div>
						<div class="home_slider_title">Nove kolekcije svake nedelje!</div>
					</div>
				</div>
			</div>

			<!-- Home Slider Item -->
			<div class="owl-item">
				<div class="home_slider_background" style="background-image:url(/images/tea-time.jpg)"></div>
				<div class="home_slider_content">
					<div class="home_slider_content_inner">
						<div class="home_slider_subtitle">Klub čitalaca</div>
                        <div class="home_slider_title">Pridružite se našem klubu čitalaca</div>
															
					</div>
				</div>
			</div>

			<!-- Home Slider Item -->
			<div class="owl-item">
				<div class="home_slider_background" style="background-image:url(/images/popust.jpg)"></div>
				<div class="home_slider_content">
					<div class="home_slider_content_inner">
						<div class="home_slider_subtitle">AKCIJA</div>
						<div class="home_slider_title">-20% popusta na odabrane kolekcije!</div>
					</div>
				</div>
			</div>

		</div>

		<!-- Home Slider Nav -->

		<div class="home_slider_next d-flex flex-column align-items-center justify-content-center"><img src="/images/arrow_r.png" alt=""></div>

		<!-- Home Slider Dots -->

		<div class="home_slider_dots_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_slider_dots">
							<ul id="home_slider_custom_dots" class="home_slider_custom_dots">
								<li class="home_slider_custom_dot active">01.<div></div></li>
								<li class="home_slider_custom_dot">02.<div></div></li>
								<li class="home_slider_custom_dot">03.<div></div></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Promo -->

<div class="promo">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="section_title_container text-center">
					<div class="section_subtitle">Samo najbolje!</div>
					<div class="section_title">Promo cene</div>
				</div>
			</div>
		</div>
		<div class="row promo_container">

			<!-- Promo Item -->
			<div class="col-lg-4 promo_col">
				<div class="promo_item">
					<div class="promo_image">
						<a href="/Product/Index/1031"><img src="~/images/promo1.png" alt=""></a>
						
					</div>
					<div class="promo_link text-center" style="width:310px;color:red;"><h2>-20%</h2></div>
				</div>
			</div>

			<!-- Promo Item -->
			<div class="col-lg-4 promo_col">
				<div class="promo_item">
					<div class="promo_image">
						<a href="/Product/Index/1032"><img src="~/images/promo2.png" alt=""></a>
						
					</div>
					<div class="promo_link text-center" style="width:310px; color:red;"><h2>-10%</h2></div>
				</div>
			</div>

			<!-- Promo Item -->
			<div class="col-lg-4 promo_col">
				<div class="promo_item">
					<div class="promo_image">
						<a href="/Product/Index/1033"><img src="~/images/promo3.jpg" alt=""></a>
					</div>
                    <div class="promo_link text-center" style="width:310px; color:red"><h2>-30%</h2></div>
				</div>
			</div>

		</div>
	</div>
</div>

<!-- New Arrivals -->

<div class="arrivals">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="section_title_container text-center">
					<div class="section_subtitle">NOVO</div>
					<div class="section_title">Nove kolekcije knjiga</div>
				</div>
			</div>
		</div>
		<div class="row products_container">

			<!-- Product -->
			<div class="col-lg-4 product_col">
				<div class="product">
					<div class="product_image">
						<a asp-action="Index" asp-controller="Product" asp-route-id="1034"><img src="~/images/novo1.png" alt=""></a>
					</div>
					<div class="rating rating_4">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					</div>
					<div class="product_content clearfix">
						<div class="product_info">
							<div class="product_name"><a asp-action="Index" asp-controller="Product" asp-route-id="1034">Atlas – priča Tate Solta</a></div>
							<div class="product_price">1299 din.</div>
						</div>
						<div class="product_options" >
							<div class="product_buy product_option" style="margin-left:-132px;">
								<a href="/ShoppingCart/AddProduct/1036">
									<img src="~/images/shopping-bag-white.svg" alt="">
									</a>
							</div>
							
						</div>
					</div>
				</div>
			</div>

			<!-- Product -->
			<div class="col-lg-4 product_col">
				<div class="product">
					<div class="product_image">
						<a asp-action="Index" asp-controller="Product" asp-route-id="1035"><img src="~/images/novo2.jpg" alt=""></a>
					</div>
					<div class="rating rating_4">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					</div>
					<div class="product_content clearfix">
						<div class="product_info">
							<div class="product_name"><a asp-action="Index" asp-controller="Product" asp-route-id="1035"> Sazvežđe svitaca</a></div>
							<div class="product_price">1199 din.</div>
						</div>
						<div class="product_options">
							<div class="product_buy product_option" style="margin-left:-132px;">
								<a href="/ShoppingCart/AddProduct/1036"><img src="~/images/shopping-bag-white.svg" alt="">
									</a>
							</div>
							
						</div>
					</div>
				</div>
			</div>

			<!-- Product -->
			<div class="col-lg-4 product_col">
				<div class="product">
					<div class="product_image">
						<a asp-action="Index" asp-controller="Product" asp-route-id="1036"><img src="~/images/novo3.jpg" alt=""></a>
					</div>
					<div class="rating rating_4">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					</div>
					<div class="product_content clearfix">
						<div class="product_info">
							<div class="product_name"><a asp-action="Index" asp-controller="Product" asp-route-id="1036">Srbin kojekude</a></div>
							<div class="product_price">999 din.</div>
						</div>
						<div class="product_options">
							<div class="product_buy product_option" style="margin-left:-132px;">
								<a href="/ShoppingCart/AddProduct/1036">
									<img src="~/images/shopping-bag-white.svg" alt=""></a>
							</div>
							
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

<!-- Gallery -->

<div class="gallery">
	<div class="gallery_image" style="background-image:url(images/galerija.jpg);height:700px;"></div>
    <div class="container">
		<div class="row">
			<div class="col">
				<div class="gallery_title text-center">
					<ul>
						<li><a href="#">#knjige</a></li>
						<li><a href="#">#booktok</a></li>
						<li><a href="#">#ilovebooks</a></li>
					</ul>
				</div>
				<div class="gallery_text text-center">Postavite objavu na instagramu uz hashtag #knjige, #booktok, #ilovebooks</div>
			</div>
		</div>
	</div>
	<div class="gallery_slider_container">

		<!-- Gallery Slider -->
		<div class="owl-carousel owl-theme gallery_slider ">

			<!-- Gallery Item -->
			<div class="owl-item gallery_item">
				<a class="colorbox" href="~/images/gallery1.jpg">
					<img src="~/images/gallery1.jpg" alt="">
				</a>
			</div>

			<!-- Gallery Item -->
			<div class="owl-item gallery_item">
				<a class="colorbox" href="~/images/gallery2.jpg">
					<img src="~/images/gallery2.jpg" alt="">
				</a>
			</div>

			<!-- Gallery Item -->
			<div class="owl-item gallery_item">
				<a class="colorbox" href="~/images/gallery3.jpg">
					<img src="~/images/gallery3.jpg" alt="">
				</a>
			</div>

			<!-- Gallery Item -->
			<div class="owl-item gallery_item">
				<a class="colorbox" href="~/images/gallery4.jpg">
					<img src="~/images/gallery4.jpg" alt="">
				</a>
			</div>

			<!-- Gallery Item -->
			<div class="owl-item gallery_item">
				<a class="colorbox" href="~/images/gallery5.jpg">
					<img src="~/images/gallery5.jpg" alt="">
				</a>
			</div>

			<!-- Gallery Item -->
			<div class="owl-item gallery_item">
				<a class="colorbox" href="~/images/gallery6.jpg">
					<img src="~/images/gallery6.jpg" alt="">
				</a>
			</div>

		</div>
	</div>
</div>

<!-- Testimonials -->

<div class="testimonials" style="margin-top:-25%;">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="section_title_container text-center">
					<div class="section_title">Mudrosti dana</div>
				</div>
			</div>
		</div>
		<div class="row test_slider_container">
			<div class="col">

				<!-- Testimonials Slider -->
				<div class="owl-carousel owl-theme test_slider text-center">

					<!-- Testimonial Item -->
					<div class="owl-item">
						<div class="test_text">"Sreća se ne nalazi u tome da se stalno krećemo, već u tome da imamo nešto što nas inspiriše." </div>
						<div class="test_content">
							<div class="test_name">Hermann Hesse, "Stepski vuk"</div>
						</div>
					</div>

					<!-- Testimonial Item -->
					<div class="owl-item">
						<div class="test_text">"Ne možemo izabrati da li ćemo se suočiti s promjenama; samo možemo odlučiti kako ćemo na njih reagovati." </div>
						<div class="test_content">
							
							<div class="test_name">Viktor Frankl, "Čovjekova potraga za smislom"</div>
							
						</div>
					</div>

					<!-- Testimonial Item -->
					<div class="owl-item">
						<div class="test_text">"Nemoj se bojati mraka, jednostavno osvijetli svijetlo."</div>
						<div class="test_content">
							
							<div class="test_name"> Stephen King, "The Dark Tower" („Mračna kula“)</div>
							
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>
</div>

<div class="newsletter">
	<div class="newsletter_content">
		<div class="newsletter_image" style="background-image:url(/images/zadnja_slika.jpg)"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title_container text-center">
						<div class="section_subtitle">Najbolje knjige samo kod nas!</div>
						<div class="section_title">Sabskrajbujte se za 20% popusta!</div>
					</div>
				</div>
			</div>
			<div class="row newsletter_container">
				<div class="col-lg-10 offset-lg-1">
					<div class="newsletter_form_container">
						@using (Html.BeginForm("AddEmail", "Home", new { @id = "myForm" }, FormMethod.Post))
						{
							<input asp-for="@ns.Email" id="imejl" type="email" class="newsletter_input" required="required" placeholder="E-mail here">
							<button type="submit" class="newsletter_button">Subscribe</button>
						}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>