@page
@using bookverse.Models;
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
@section Styles{
    <link rel="stylesheet" type="text/css" href="~/styles/bootstrap4/bootstrap.min.css">
    <link href="~/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/plugins/jquery-ui-1.12.1.custom/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="~/styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="~/styles/responsive.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
}


<div class="row flex-row d-flex justify-content-center align-items-center" style="margin-top:10%;">
    <div class="col-md-4 ">
        <form id="registerForm" class="row" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2 class="px-3">Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating pt-5 col-12" style="color:black;">
                <input asp-for="Input.Email" style="color:black;" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating pt-5 col-6">
                <input asp-for="Input.FirstName" style="color:black;" class="form-control" aria-required="true" />
                <label asp-for="Input.FirstName"></label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating pt-5 col-6">
                <input asp-for="Input.LastName" style="color:black;" class="form-control" aria-required="true" />
                <label asp-for="Input.LastName"></label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-floating pt-5 col-6">
                <input asp-for="Input.Address" style="color:black;" class="form-control" aria-required="true" />
                <label asp-for="Input.Address"></label>
                <span asp-validation-for="Input.Address" class="text-danger"></span>
            </div>
            <div class="form-floating pt-5 col-6">
                <input asp-for="Input.Town" style="color:black;" type="text" class="form-control" aria-required="true" />
                <label asp-for="Input.Town"></label>
                <span asp-validation-for="Input.Town" class="text-danger"></span>
            </div>
            <div class="form-floating pt-5 col-6">
                <input asp-for="Input.ZipCode" style="color:black;" type="text" class="form-control" aria-required="true" />
                <label asp-for="Input.ZipCode"></label>
                <span asp-validation-for="Input.ZipCode" class="text-danger"></span>
            </div>
            <div class="form-floating pt-5 col-6">
                <input asp-for="Input.PhoneNumber" style="color:black;" class="form-control" aria-required="true" />
                <label asp-for="Input.PhoneNumber"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>


            <div class="form-floating pt-5 col-12">
                <input asp-for="Input.Password" style="color:black;" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating pt-5 col-12">
                <input asp-for="Input.ConfirmPassword" style="color:black;" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-floating pt-5 pb-3 col-12">
                <label asp-for="Input.Role"></label><select asp-for="Input.Role" asp-items="@Model.Input.RoleList" class="form-select"></select>
            </div>
            
            <button id="registerSubmit" type="submit" style="width:80rem;" class=" btn btn-primary">Register</button>
        </form>
    </div>
    </div>
    

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
